<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Users</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <img
      class="avatar"
      src="https://material.angular.io/assets/img/examples/shiba1.jpg"
      alt="Avatar"
    />
  </button>
  <p>John Doe</p>
</mat-toolbar>
