<h2 class="mat-dialog-title">Edit User</h2>
<!-- <mat-dialog-content [formGroup]="editForm">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Placeholder" />
  </mat-form-field> -->

<!-- <div>
    <label>Gender</label>
    <mat-radio-group [formControl]="floatLabelControl">
      <mat-radio-button value="auto">Male</mat-radio-button>
      <mat-radio-button value="always">Female</mat-radio-button>
    </mat-radio-group>
  </div> -->

<!-- <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Placeholder" />
  </mat-form-field>
</mat-dialog-content> -->

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="submit()">
    Submit
  </button>
</mat-dialog-actions>
